<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>themeconfigurator</name>
	<displayName><![CDATA[Theme Configurator]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Theme Configurations]]></description>
	<author><![CDATA[Michał Drożdżyński]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
